html, body, ul, li,
h1, h2, h3, h6, a, button, header, figure, caption, img {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;

  background: transparent;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;

  font: inherit;

  text-shadow: inherit;
}

body {
  font-family: sans-serif;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

ul {
  list-style: none;
}

img {
  height: auto;

  display: block;
  width: 100%;
}



.inactive {
  display: none;
}

#close {
  border: 1px solid black;
  padding: 5px;
  background: white;
  margin: auto;

}

#home {
  width: 500px;
}

.backdrop-container {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}
.backdrop-container img {
  height: 100%;
}
/* Header */
header {
  font-size: 24px;
  font-weight: 700;

  background: rgba(50,50,100,.8);

  text-align: center;
  color: white;
}

nav {
}

nav label {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}

.links {
  float: right;
  border-right: 1px solid white;
}

.links > li {
  float: left;
  border-left: 1px solid white;
}

.links > li > a {
  display: block;
  padding: 5px 20px;
}

.links > li :hover {
  cursor: pointer;
  background: black;
  color: white;
}

/*Main */
main {
  width: 900px;
  margin: auto;
  background: rgba(255,255,255,.5);
  min-height: 400px;
}

/* tabs */
.selected {
  width: 800px;
  padding: 20px;
  margin: auto;
  text-shadow: 0 0 1px white;
}

.selected h1 {
  text-align: center;
  font-size: 24px;
}

.selected a {
  color: blue;
  text-decoration: underline;
}



/* projects */

.project {
  margin-top: 20px;
}

.project ul {
  list-style: circle;
  margin-left: 20px;
}

.project h2 {
  font-size: 16px;
  font-weight: bold;
}

.container {
  width: 100px;
  cursor: pointer;
}

.outer-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(200,200,200,.5):
}

.big-container {
  height: 500px;
  width: 800px;
  border: 10px solid: black
  margin: auto;
  overflow:hidden;
}

.big-container img {
  max-height: 95%;
}

.download a {
  display: block;
  width: 100px;
  padding: 5px 10px;
  border: 2px solid black;
  background: #149;
  color: white;
  text-decoration: none;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
}

.profile {
  width: 200px;
  margin: auto;

  border-radius: 50%;
  overflow: hidden;
}
.skills {
  width: 500px;
  margin-top: 50px;
}

.skills h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.skill {
  width: 75px;
  height: 75px;
  float: left;
  margin: 25px 10px;
}

.skill img {
  height: 75px;
}

.skill label {
  width: 75px;
  text-align: center;
  display:block;
  margin: auto;
}
