html, body, ul, li,
h1, h2, h3, h6, a, button, header {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;

  background: transparent;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;

  font: inherit;

  text-shadow: inherit;
}

body {
  font-family: sans-serif;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

ul {
  list-style: none;
}

img {
  height: auto;
  display: block;
  width: 100%;
}



.inactive {
  display: none;
}



.backdrop-container {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

/* Header */
header {
  font-size: 24px;
  font-weight: 700;

  background: rgba(50,50,100,.8);

  text-align: center;
  color: white;
}

nav {
}

nav label {
  float: left;
}

.links {
  float: right;
}

.links > li {
  float: left;
  margin-left: 15px;
  border-left: 1px solid white;
}

.links > li > a {
  display: block;
  cursor: pointer;
  padding: 5px 10px;
}

.links > li :hover {
  background: black;
  color: white;
}

/*Main */
main {
  width: 900px;
  margin: auto;
  background: rgba(255,255,255,.3);
  min-height: 400px;
}

/* tabs */
.selected {
  width: 800px;
  padding: 20px;
  margin: auto;
  text-shadow: 0 0 1px white;
}

.selected h1 {
  text-align: center;
  font-size: 24px;
}

.selected a {
  color: blue;
  text-decoration: underline;
}



/*projects */

.project {
  margin-top: 20px;
}

.project ul {
  list-style: circle;
  margin-left: 20px;
}

.project h2 {
  font-size: 16px;
  font-weight: bold;
}
