<div class="section about">
  <div class="profile">
    <img src="./images/me.jpg">
  </div>
  <h1 class="subtitle">Hello, I'm Thomas </h1>
  <p>    I am a web developer based in the Manhattan/Long Island area. I have a background in the sciences and Mathematics, which eventually led me to programming.  I enjoy the ability to create the tools I need when I need them.  My programming background includes JavaScript, Ruby, Ruby on Rails, SQL, CSS, HTML5, and Python.  I am currenlty looking for an exciting, new place to continue my career.  </p>
</div>
