<div class="section">

  <section class="skills group">
    <h3> My Skills </h3>
    <figure class="skill">
      <img src="./images/logos/ruby.png" alt="" />
      <label>Ruby</label>
      
    </figure>

    <figure class="skill">
      <img src="./images/logos/rails.png" alt="" />
      <label>Rails</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/js.svg" alt="" />
      <label>JavaScript</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/python.png" alt="" />
      <label>Python</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/html5.png" alt="" />
      <label>HTML5</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/css3.png" alt="" />
      <label>CSS3</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/jquery.svg" alt="" />
      <label>JQuery</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/postgres.png" alt="" />
      <label>PostgreSQL</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/git-logo.png" alt="" />
      <label>Git</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/backbone.png" alt="" />
      <label>Backbone.js</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/aws.svg" alt="" />
      <label>AWS</label>
    </figure>

    <figure class="skill">
      <img src="./images/logos/angularjs.png" alt="" />
      <label>Angular.js</label>
    </figure>

  </section>
</div>
