<section class="description">
  An Australian twist on the classic game, Asteroids.  Users must navigate a koala around the continent while avoiding the deadly creatures.
  <br>
  <strong>Features:</strong>
  <ul>
    <li>
      Complete javascript based game, using HTML5 canvas element as the background.
    </li>
    <li>
      Uses Canvas method to draw indidual images instead of standard shapes
    </li>
    <li>
      Uses trigonometry to determine direction based on polar coordinates.
    </li>
  </ul>
</section>
