<section class="description">
  A classifieds site for cars where users can sell and look for vehicles and parts.
  <br>
  <strong>Features:</strong>
  <ul>
    <li>
      Single page Backbone App consuming a restful Rails JSON API.
    </li>
    <li>
      BCrypt overrides standard Auth procedures
    </li>
    <li>
      Utilizes OmniAuth to allow users to log in with Twitter
    </li>
    <li>
      Utilizes custom made search methods to look through all vehicle and part sales
    </li>
    <li>
      Allows users to sort  and limit search results in real time.
    </li>
  </ul>
</section>
